<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OldFileDeleter.ClassLibrary.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <OldFileDeleter.ClassLibrary.Settings>
      <setting name="Directories" serializeAs="Xml">
        <value>
          <ArrayOfString>
            <string>C:\Users\Mihails\Videos\Contour Library</string>
            <string>C:\Users\Mihails\Videos\Sony Library</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AvailableFreeSpaceTargetGB" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="DeleteEmptyDirectoriesOlderThanHours" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="OnlyDeleteFilesOlderThanDays" serializeAs="String">
        <value>7</value>
      </setting>
    </OldFileDeleter.ClassLibrary.Settings>
  </applicationSettings>
</configuration>